<ng-template #loading>
    <div>Loading...</div>
</ng-template>
<div *ngIf="list$ | async as list; else loading">
    <ul>
        <li *ngFor="let item of list.items">
            <app-todo-item [item]="item"></app-todo-item>
        </li>
    </ul>
    <div>
        <form #form="ngForm">
            <mat-form-field>
                <input name="item"
                       matInput
                       required
                       placeholder="Item text"
                       [(ngModel)]="newItem">
            </mat-form-field>

            <button mat-stroked-button
                    [disabled]="form.invalid"
                    (click)=add(newItem)>Add item</button>
        </form>
    </div>
</div>
